<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Recommendations</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="user_input">Enter Steam ID:</label>
        <input type="text" id="user_input" name="user_input" value="76561199521687451" required>
        <button type="submit">Submit</button>
    </form>

    {% if game %}
        <h2>Recommendation Result:</h2>
        <p>I recommend: {{ game }}</p>
        {% if link %}
            <p>Check it out <a href="{{ link }}">here</a></p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <button type="submit" name="recommend_another" value="true">Recommend Another Game</button>
        </form>

    {% endif %}
</body>